			body{
				background-color:lightgray;
			}
			h1{
				text-align:center;
				font-size:4.9em;
			}
			h2{
				font-size:1.8em;
				font-family:Verdana,Trebuchet MS;
			}
			h3{
				font-family:Helvetica,Calibri;
			}
			h4{
				font-family:Helvetica,Calibri;
				font-size:1.5em;
			}
			h6{
				text-align:center;
				font-family:Verdana;
			}
			#notifis{
				font-size:1em;
				font-style:italic;
			}
			#wrok{
				border-radius:30px;
				width:100px;
				height:85px;
				text-align:center;
				border:2px solid black;
				background-color:rgb(150,150,150);
				transition-duration:0.1s;
				box-shadow:0 3.5px 0 1.5px rgb(80,80,80);
				cursor:pointer;
			}
			#wrok:hover{
				background-color:rgb(135,135,135);
			}
			#wrok:active{
				box-shadow:0 3px 0px 1px rgb(60,60,60);
				transform:translateY(1.5px);
			}
			.displayer{
				text-align:center;
			}
			.trueHolder{
				visibility:hidden;
				display:none;
			}
			#nav{
				text-align:center;
			}
			#nav .navBttn{
				border:0.5px solid darkgray;
				border-radius:8px;
				color:black;
				padding:11px 28px;
				min-width:90px;
				text-align:center;
				display:inline-block;
				font-size:14px;
				cursor:pointer;
				float:center;
				transition-duration:0.05s;
				box-shadow:0 2px 0 0.5px rgb(100,100,100);
			}
			#moneyTab{
				background-color:rgb(130,130,130);
				font-weight:bold;
			}
			#shopTab, #casinoTab, #prestigeTab, #achievementTab, #settingsTab, #versionsTab, #helpTab{
				background-color:rgb(150,150,150);
			}
			#nav .navBttn:hover{
				box-shadow:0 2px 4px 0.8px rgb(85,85,85),0 2px 0 0.5px rgb(100,100,100);
			}
			#nav .navBttn:active{
				box-shadow:0 1.5px 0 0.5px rgb(90,90,90);
				transform:translateY(1px);
			}
			#moneyDisplayer{
				display:block;
			}
			#shopDisplayer{
				display:none;
			}
			#casinoDisplayer{
				display:none;
			}
			#prestigeDisplayer{
				display:none;
			}
			#settingsDisplayer{
				display:none;
			}
			#versionsDisplayer{
				display:none;
			}
			#helpDisplayer{
				display:none;
			}
			#achievementDisplayer{
				display:none;
			}
			.item{
				border-radius:5.5px;
				border:0.4px solid rgb(120,120,120);
				background-color:rgb(217,217,217);
				cursor:pointer;
				box-shadow:0 2px 0 0.4px rgb(85,85,85);
				transition-duration:0.05s;
				font-family:Tahoma;
				padding:6px;
				min-width:150px;
			}
			.item:hover{
				box-shadow:0 2.2px 4px 0.8px rgb(85,85,85),0 2px 0 0.5px rgb(100,100,100);
			}
			.item:active{
				box-shadow:0 1.4px 0 0.4px rgb(70,70,70);
				transform:translateY(1.2px);
			}
			table{
				margin-left:auto;
 				margin-right:auto;
				border-spacing:1.1px;
			}
			th{
				font-weight:545;
				font-family:calibri;
				border:2.4px solid black;
				border-style:ridge;
				font-size:4em;
				height:51px;
				width:74px;
				padding-top:10px;
			}
			.achievement{
				background-color:rgba(25,25,28,0.04);
				border:0.2px solid rgba(30,30,32,0.02);
				padding-left:11px;
				padding-right:11px;
				width:270px;
				height:125px;
			}
			#darkLight,#versionTitleToggle,#theOnlyThingTheyFearIsMe{
				padding:5px;
				background-color:white;
				color:black;
				border-radius:7px;
			}
			#swearToggle{
				padding:5px;
				background-color:rgb(127,127,127);
				color:black;
				border-radius:7px;
			}
			.upgradeDisplay{
				margin:auto;
				width:760px;
				text-align:left;
			}
			#casinoHijackKit{
				text-align:center;
				display:none;
				position:absolute;
				width:56%;
				height:55%;
				border-radius:10px;
				border:5.5px outset rgba(15,15,16,0.7);
				background-color:rgb(195,195,250);
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
			}
			#blurredBackground1{
				position:absolute;
				background-color:rgba(0,0,0,0.35);
				display:none;
				min-width:100%;
				min-height:100%;
				top:50%;
				left:50%;
				transform:translate(-50%,-50%);
				backdrop-filter:blur(0.06rem);
			}
			#casinoKitButton{
				display:initial;
			}
			#activateSlots,#casinoKitButton2,#casinoKitButton{
				cursor:pointer;
			}
			#casinoKitGroupNumber button{
				height:35px;
				width:24px;
				cursor:pointer;
				float:left;
				border:1px solid black;
				text-align:center;
			}
			#casinoKitGroupEffect button{
				text-align:center;
				border:1px solid black;
				float:left;
				cursor:pointer;
				height:40px;
				width:60px;
			}
			.casinoKitGroup:after{
				content:"";
				clear:both;
				display:table;
			}
			#casinoKitGroupNumber{
				padding-left:50%;
				margin-top:30px;
				margin-bottom:1px;
				transform:translate(-60px,0px);
			}
			#casinoKitGroupEffect{
				padding-left:50%;
				margin-top:4px;
				transform:translate(-60px,0px);
			}
			#casinoKitButton2{
				height:20px;
				transform:translate(0,350%);
			}